name: CI

on:
  push:
    branches:
      - "**"
      - "!main"
      - "!master"

jobs:
  ci:
    name: lint & test

    timeout-minutes: 5
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node: [16.x]

    steps:
      - uses: actions/checkout@v3

      - name: Setup node ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: yarn

      - run: yarn install --frozen-lockfile --ignore-optional

      - run: yarn lint-dry

      - run: yarn test
